n8n/video-workflow.json
{
  "name": "ContentFactory Video Pipeline",
  "active": false,
  "nodes": [
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000001",
      "name": "触发器 /trigger/video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger/video",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a1f3c4e0-1111-4a01-9d11-000000000001"
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000002",
      "name": "立即返回 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 202,
        "responseBody": "={{ { accepted: true, task_id: $json.body.task_id, run_id: $execution.id } }}"
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000003",
      "name": "读取商品、风格与图池",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "cred-pg-content-factory",
          "name": "Postgres - content_factory"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id AS task_id, t.requested_count, COALESCE(t.parameters, '{}'::jsonb) AS task_parameters, p.id AS product_id, p.sku, p.name, p.category, p.primary_color, p.selling_points, p.target_audience AS audience, p.use_scenarios AS scenes, s.id AS style_id, jsonb_build_object('brand_colors', s.brand_colors, 'model_features', s.model_features, 'tone', s.tone, 'mood_keywords', s.mood_keywords, 'forbidden_words', s.forbidden_words, 'lighting', s.extra->>'lighting', 'composition', s.extra->>'composition', 'lens', s.extra->>'lens') AS style_json, COALESCE((SELECT json_agg(c.* ORDER BY c.created_at DESC) FROM candidates c JOIN tasks t2 ON t2.id = c.task_id WHERE t2.product_id = p.id AND c.media_type = 'image' AND c.status = 'approved'), '[]'::json) AS image_pool FROM tasks t JOIN products p ON p.id = t.product_id LEFT JOIN style_templates s ON s.id = p.style_template_id WHERE t.id = $1::uuid LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$('触发器 /trigger/video').item.json.body.task_id] }}"
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000004",
      "name": "生成分镜脚本（Claude）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-llm-provider",
          "name": "cred-llm-provider"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "={{(($env.LLM_BASE_URL || $env.NEWAPI_BASE_URL || 'https://5dock.com/v1').replace(/\\/$/, '')) + '/chat/completions'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const taskParams = $json.task_parameters || {};\n  const strategy = taskParams.prompt_strategy || {};\n  const videoDefaults = taskParams.video_defaults || {};\n  const duration = Number(videoDefaults.duration || 12);\n  const sceneCount = Number(videoDefaults.scene_count || 4);\n  const latitude = strategy.creative_latitude || 'balanced';\n  return {\n    \"model\": ($env.LLM_MODEL || \"claude-sonnet-4-5-20250929\"),\n    \"temperature\": latitude === 'strict' ? 0.45 : (latitude === 'exploratory' ? 0.72 : 0.6),\n    \"max_tokens\": 4096,\n    \"response_format\": { \"type\": \"json_object\" },\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": [\n          \"You are a senior short-form commerce video director.\",\n          `Create a ${sceneCount}-scene storyboard totaling ${duration} seconds for image-to-video generation.`,\n          \"Do not hardcode any demo SKU, garment, model identity, scene, or camera style. Use only the provided product facts, approved image pool, style JSON, and prompt strategy.\",\n          \"Each scene must define first_frame, motion_beats, end_frame, product_focus, continuity_constraints, and negative_constraints.\",\n          \"Motion beats must use time ranges such as 0.0-0.8s and describe subject_motion plus camera_motion.\",\n          \"Output strict JSON only: { sku, total_duration_sec, locked_product_facts: [], scenes: [{ scene_no, duration_sec, purpose, first_frame: { subject_pose, product_visible_parts, composition, must_match_reference }, motion_beats: [{ time, subject_motion, camera_motion }], end_frame, product_focus, continuity_constraints, negative_constraints }] }.\"\n        ].join(' ')\n      },\n      {\n        \"role\": \"user\",\n        \"content\": [\n          'SKU: ' + $json.sku,\n          'Name: ' + $json.name,\n          'Category: ' + ($json.category || ''),\n          'Primary color: ' + ($json.primary_color || ''),\n          'Selling points: ' + JSON.stringify($json.selling_points || []),\n          'Scenarios: ' + JSON.stringify($json.scenes || []),\n          'Audience: ' + ($json.audience || ''),\n          'Style JSON: ' + JSON.stringify($json.style_json || {}),\n          'Task parameters: ' + JSON.stringify(taskParams),\n          'image_pool: ' + JSON.stringify($json.image_pool || [])\n        ].join('\\\\n')\n      }\n    ]\n  };\n})() }}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 3000
          }
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000005",
      "name": "解析分镜脚本",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const raw = $json.choices[0].message.content;\nlet sb;\ntry { sb = JSON.parse(raw); } catch (e) {\n  throw new Error('Storyboard JSON parse failed: ' + e.message);\n}\nconst source = $(\"读取商品、风格与图池\").item.json;\nconst taskParams = source.task_parameters || {};\nconst videoDefaults = taskParams.video_defaults || {};\nconst sceneCount = Number(videoDefaults.scene_count || 4);\nconst duration = Number(videoDefaults.duration || 12);\nif (!sb.scenes || sb.scenes.length !== sceneCount) {\n  throw new Error('Storyboard must have exactly ' + sceneCount + ' scenes, got ' + (sb.scenes||[]).length);\n}\nconst total = sb.scenes.reduce((a,s)=>a+Number(s.duration_sec || 0),0);\nif (Math.abs(total - duration) > 0.5) throw new Error('total_duration_sec must be ' + duration + ' +/-0.5, got ' + total);\nconst pool = source.image_pool || [];\nconst firstPoolItem = pool.length ? pool[0] : {};\nconst refUrl = firstPoolItem.oss_url || firstPoolItem.cdn_url || firstPoolItem.url || null;\nconst productJson = {\n  sku: source.sku,\n  name: source.name,\n  category: source.category,\n  primary_color: source.primary_color,\n  audience: source.audience,\n  selling_points: source.selling_points,\n  scenes: source.scenes,\n  task_parameters: taskParams\n};\nreturn sb.scenes.map((scene, idx) => ({\n  json: {\n    task_id: $(\"触发器 /trigger/video\").item.json.body.task_id,\n    sku: sb.sku || source.sku,\n    storyboard: sb,\n    scene_no: scene.scene_no || idx + 1,\n    scene_index: idx,\n    scene_json: scene,\n    reference_image_url: refUrl,\n    style_json: source.style_json,\n    product_json: productJson,\n    task_parameters: taskParams\n  }\n}));"
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000006",
      "name": "分批处理 4 个镜头",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000007",
      "name": "生成首帧提示词（LLM Provider）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-llm-provider",
          "name": "cred-llm-provider"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "={{(($env.LLM_BASE_URL || $env.NEWAPI_BASE_URL || 'https://5dock.com/v1').replace(/\\/$/, '')) + '/chat/completions'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const product = $json.product_json || {};\n  const strategy = ($json.task_parameters && $json.task_parameters.prompt_strategy) || {};\n  return {\n    \"model\": ($env.LLM_MODEL || \"claude-sonnet-4-5-20250929\"),\n    \"temperature\": strategy.creative_latitude === 'strict' ? 0.32 : 0.45,\n    \"max_tokens\": 700,\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": [\n          \"You convert one storyboard scene into one first-frame image prompt for image-to-video.\",\n          \"Output English only, one prompt string only, no markdown. The prompt must describe the exact 0.0s starting frame, not a poster or mid-action pose.\",\n          \"Preserve product identity, approved style anchors, natural anatomy, safe margins, frame ratio, and the exact starting moment of the scene.\",\n          \"The first frame must contain one coherent subject, one unchanged garment, clean limbs, stable fabric structure, no extra body parts, no text overlay, no watermark, and no new logo.\",\n          \"Use supplied product/style data instead of any fixed demo garment, model, or SKU.\"\n        ].join(' ')\n      },\n      {\n        \"role\": \"user\",\n        \"content\": [\n          'Convert this storyboard scene into one first-frame image generation prompt.',\n          '[Product JSON]', JSON.stringify(product),\n          '[Scene JSON]', JSON.stringify($json.scene_json),\n          '[Style JSON]', JSON.stringify($json.style_json || {}),\n          '[Prompt Strategy]', JSON.stringify(strategy || {}),\n          '[reference image url]', ($json.reference_image_url || '')\n        ].join('\\\\n')\n      }\n    ]\n  };\n})() }}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 3000
          }
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000008",
      "name": "生成首帧（Image Provider）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-image-provider",
          "name": "cred-image-provider"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "={{(($env.IMAGE_BASE_URL || $env.MEDIA_BASE_URL || $env.ARK_ENDPOINT || 'https://ark.cn-beijing.volces.com/api/v3').replace(/\\/$/, '')) + '/images/generations'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($env.IMAGE_MODEL || $env.ARK_IMAGE_MODEL || \"doubao-seedream-4-0-250828\") }},\n  \"prompt\": $('生成首帧提示词（LLM Provider）').item.json.choices[0].message.content,\n  \"size\": \"720x1280\",\n  \"guidance_scale\": 3,\n  \"watermark\": false,\n  \"response_format\": \"url\",\n  \"reference_images\": $('分批处理 4 个镜头').item.json.reference_image_url ? [ $('分批处理 4 个镜头').item.json.reference_image_url ] : []\n}",
        "options": {
          "timeout": 120000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 5000
          }
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000009",
      "name": "提取首帧链接",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff-url-01",
              "name": "first_frame_url",
              "type": "string",
              "value": "={{ $json.data && $json.data[0] ? $json.data[0].url : ($json.url || '') }}"
            },
            {
              "id": "ff-scene-no",
              "name": "scene_no",
              "type": "number",
              "value": "={{ $('分批处理 4 个镜头').item.json.scene_no }}"
            },
            {
              "id": "ff-scene-json",
              "name": "scene_json",
              "type": "object",
              "value": "={{ $('分批处理 4 个镜头').item.json.scene_json }}"
            },
            {
              "id": "ff-task-id",
              "name": "task_id",
              "type": "string",
              "value": "={{ $('分批处理 4 个镜头').item.json.task_id }}"
            },
            {
              "id": "ff-prev-last",
              "name": "prev_last_frame_url",
              "type": "string",
              "value": "={{ $('分批处理 4 个镜头').context.prev_last_frame_url || '' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000000a",
      "name": "生成视频提示词（LLM Provider）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-llm-provider",
          "name": "cred-llm-provider"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "={{(($env.LLM_BASE_URL || $env.NEWAPI_BASE_URL || 'https://5dock.com/v1').replace(/\\/$/, '')) + '/chat/completions'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const splitItem = $(\"分批处理 4 个镜头\").item.json;\n  const product = splitItem.product_json || {};\n  const strategy = (splitItem.task_parameters && splitItem.task_parameters.prompt_strategy) || {};\n  return {\n    \"model\": ($env.LLM_MODEL || \"claude-sonnet-4-5-20250929\"),\n    \"temperature\": strategy.creative_latitude === 'exploratory' ? 0.5 : 0.38,\n    \"max_tokens\": 800,\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": [\n          \"You write stable image-to-video prompts for commercial product videos.\",\n          \"Use the first frame as visual truth. Create one continuous shot, not a montage. Describe a short opening hold, one or two small motion beats, slow camera movement, product focus, and negative constraints.\",\n          \"Hard constraints: preserve the same person, garment, color, fabric, scene, lighting, and logo policy; no jump cuts, no scene change, no fast spin, no heavy zoom, no morphing garment, no melting fabric, no duplicated body, no extra limbs, no face drift, no new object, no text overlay, no watermark.\",\n          \"Do not hardcode any demo SKU, model identity, garment details, or scene. Use Product JSON and Scene JSON only. Return one 90-150 word provider-ready prompt string, no markdown.\"\n        ].join(' ')\n      },\n      {\n        \"role\": \"user\",\n        \"content\": [\n          'Generate the image-to-video prompt for scene ' + $json.scene_no + '.',\n          '[Product JSON]', JSON.stringify(product),\n          '[Scene JSON]', JSON.stringify($json.scene_json),\n          '[Style JSON]', JSON.stringify(splitItem.style_json || {}),\n          '[Prompt Strategy]', JSON.stringify(strategy || {}),\n          '[First-frame URL is passed through image_url; do not put it into the prompt]', $json.first_frame_url || '',\n          ($json.scene_no > 1 ? '[Previous last-frame URL is passed through last_frame_image_url]\n' + ($json.prev_last_frame_url || '') : '')\n        ].join('\\\\n')\n      }\n    ]\n  };\n})() }}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 3000
          }
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000000b",
      "name": "提交视频任务（Video Provider）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-video-provider",
          "name": "cred-video-provider"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "={{(($env.VIDEO_BASE_URL || $env.MEDIA_BASE_URL || $env.ARK_ENDPOINT || 'https://ark.cn-beijing.volces.com/api/v3').replace(/\\/$/, '')) + '/contents/generations/tasks'}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": {{ JSON.stringify($env.VIDEO_MODEL || $env.ARK_VIDEO_MODEL || \"doubao-seedance-1-0-pro-250528\") }},\n  \"content\": (function(){\n    const ff = $('提取首帧链接').item.json.first_frame_url;\n    const lf = $('提取首帧链接').item.json.prev_last_frame_url;\n    const sceneNo = $('提取首帧链接').item.json.scene_no;\n    const promptText = $json.choices[0].message.content;\n    const arr = [ { type: 'text', text: promptText } ];\n    if (ff) arr.push({ type: 'image_url', image_url: { url: ff }, role: 'first_frame' });\n    if (sceneNo > 1 && lf) arr.push({ type: 'image_url', image_url: { url: lf }, role: 'last_frame' });\n    return arr;\n  })()\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 5000
          }
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000000c",
      "name": "等待 20 秒",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2880,
        220
      ],
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "webhookId": "a1f3c4e0-1111-4a01-9d11-00000000000c"
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000000d",
      "name": "轮询视频任务（Video Provider）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-video-provider",
          "name": "cred-video-provider"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "={{(($env.VIDEO_BASE_URL || $env.MEDIA_BASE_URL || $env.ARK_ENDPOINT || 'https://ark.cn-beijing.volces.com/api/v3').replace(/\\/$/, '')) + '/contents/generations/tasks/' + $('提交视频任务（Video Provider）').item.json.id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000000e",
      "name": "判断视频任务是否完成",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-seedance-succeeded",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cond-seedance-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000000f",
      "name": "提取视频链接",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        140
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid-url",
              "name": "video_url",
              "type": "string",
              "value": "={{ $json.content && $json.content[0] ? $json.content[0].video_url : ($json.video_url || '') }}"
            },
            {
              "id": "vid-scene-no",
              "name": "scene_no",
              "type": "number",
              "value": "={{ $('提取首帧链接').item.json.scene_no }}"
            },
            {
              "id": "vid-task-id",
              "name": "task_id",
              "type": "string",
              "value": "={{ $('提取首帧链接').item.json.task_id }}"
            },
            {
              "id": "vid-first-frame",
              "name": "first_frame_url",
              "type": "string",
              "value": "={{ $('提取首帧链接').item.json.first_frame_url }}"
            },
            {
              "id": "vid-status",
              "name": "scene_status",
              "type": "string",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000010",
      "name": "下载场景 MP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        140
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 120000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000011",
      "name": "模拟保存场景并提取尾帧",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        140
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Phase 0 import-safe mock. Real FFmpeg work should run in a worker service, not executeCommand.\nreturn $input.all();"
      },
      "disabled": true
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000012",
      "name": "上传尾帧到 OSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-aliyun-oss-signer",
          "name": "Aliyun OSS - content-factory"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://content-factory.oss-cn-shanghai.aliyuncs.com/lastframes/{{ $json.task_id }}/scene_{{ $json.scene_no }}_last.jpg",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000013",
      "name": "回写上一尾帧链接",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        140
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const taskId = $json.task_id;\nconst sceneNo = $json.scene_no;\nconst lastUrl = `https://content-factory.oss-cn-shanghai.aliyuncs.com/lastframes/${taskId}/scene_${sceneNo}_last.jpg`;\n// Stash on the SplitInBatches context so next batch's keyframe / video step can read it.\nconst sib = $getWorkflowStaticData('node');\nsib.prev_last_frame_url = lastUrl;\nreturn [{ json: { ...$json, last_frame_url: lastUrl } }];"
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000014",
      "name": "返回分批节点",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4800,
        140
      ],
      "parameters": {}
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000015",
      "name": "模拟合并音频并提交 ASR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        540
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Phase 0 import-safe mock. Real ASR input generation should be moved to a worker service.\nreturn $input.all();"
      },
      "disabled": true
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000016",
      "name": "提交火山 ASR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-volcengine-asr",
          "name": "Volc ASR"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openspeech.bytedance.com/api/v1/auc/submit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app\": { \"appid\": $vars.cred-volcengine-asr_APPID, \"token\": $vars.cred-volcengine-asr_TOKEN, \"cluster\": \"volc_auc_common\" },\n  \"audio\": { \"url\": $json.stdout.trim(), \"format\": \"wav\" },\n  \"request\": { \"language\": \"zh-CN\", \"enable_punc\": true, \"enable_itn\": true }\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000017",
      "name": "等待 8 秒",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        540
      ],
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "webhookId": "a1f3c4e0-1111-4a01-9d11-000000000017"
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000018",
      "name": "轮询 ASR 并生成 SRT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-volcengine-asr",
          "name": "Volc ASR"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://openspeech.bytedance.com/api/v1/auc/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"app\": { \"appid\": $vars.cred-volcengine-asr_APPID, \"token\": $vars.cred-volcengine-asr_TOKEN, \"cluster\": \"volc_auc_common\" },\n  \"request\": { \"id\": $json.id }\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-000000000019",
      "name": "生成 SRT（失败则退回分镜字幕）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        540
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "function fmt(t){const ms=Math.round(t*1000);const h=Math.floor(ms/3600000);const m=Math.floor((ms%3600000)/60000);const s=Math.floor((ms%60000)/1000);const x=ms%1000;return String(h).padStart(2,'0')+':'+String(m).padStart(2,'0')+':'+String(s).padStart(2,'0')+','+String(x).padStart(3,'0');}\nconst utt = $json.result && $json.result.utterances;\nconst sb = $('解析分镜脚本').first().json.storyboard || {scenes:[]};\nlet srt = '';\nif (utt && utt.length) {\n  utt.forEach((u,i) => { srt += `${i+1}\\n${fmt(u.start_time/1000)} --> ${fmt(u.end_time/1000)}\\n${u.text}\\n\\n`; });\n} else {\n  // fallback: even time slots from storyboard subtitles\n  let cur = 0;\n  sb.scenes.forEach((s,i) => { const end = cur + s.duration_sec; srt += `${i+1}\\n${fmt(cur)} --> ${fmt(end)}\\n${s.subtitle}\\n\\n`; cur = end; });\n}\nrequire('fs').writeFileSync('/tmp/'+$json.task_id+'/sub.srt', srt);\nreturn [{ json: { task_id: $json.task_id, srt_path: '/tmp/'+$json.task_id+'/sub.srt' } }];"
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000001a",
      "name": "模拟 FFmpeg 合成并压字幕",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        540
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Phase 0 import-safe mock. Real final rendering is represented by pre-generated demo assets.\nreturn $input.all();"
      },
      "disabled": true
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000001b",
      "name": "上传 final.mp4 到 OSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-aliyun-oss-signer",
          "name": "Aliyun OSS - content-factory"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/{{ $now.format('yyyyMM') }}/{{ $json.task_id }}/candidate_1.mp4",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "timeout": 180000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000001c",
      "name": "上传 thumb.jpg 到 OSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-aliyun-oss-signer",
          "name": "Aliyun OSS - content-factory"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "=https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/{{ $now.format('yyyyMM') }}/{{ $json.task_id }}/candidate_1_thumb.jpg",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000001d",
      "name": "写入视频候选记录",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3600,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "cred-pg-content-factory",
          "name": "Postgres - content_factory"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidates (task_id, media_type, oss_url, thumbnail_url, parameters_snapshot, status, sequence_no, created_at) VALUES ($1::uuid, 'video', $2, $3, $4::jsonb, 'pending_review', 1, NOW()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.task_id, 'https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/'+$now.format('yyyyMM')+'/'+$json.task_id+'/candidate_1.mp4', 'https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/'+$now.format('yyyyMM')+'/'+$json.task_id+'/candidate_1_thumb.jpg', JSON.stringify($('解析分镜脚本').first().json.storyboard)] }}"
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000001e",
      "name": "写入飞书视频审核表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-feishu-tenant-token",
          "name": "Feishu - tenant_access_token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/bitable/v1/apps/{{ $vars.FEISHU_BITABLE_APP_TOKEN }}/tables/{{ $vars.FEISHU_BITABLE_TABLE_ID }}/records",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"task_id\": $json.task_id,\n    \"sku\": $(\"解析分镜脚本\").first().json.sku,\n    \"candidate_no\": 1,\n    \"video_url\": 'https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/'+$now.format('yyyyMM')+'/'+$json.task_id+'/candidate_1.mp4',\n    \"thumb_url\": 'https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/'+$now.format('yyyyMM')+'/'+$json.task_id+'/candidate_1_thumb.jpg',\n    \"status\": \"pending_review\",\n    \"created_at\": $now.toISOString()\n  }\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "a1f3c4e0-1111-4a01-9d11-00000000001f",
      "name": "通知飞书群",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-feishu-tenant-token",
          "name": "Feishu - tenant_access_token"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "=https://open.feishu.cn/open-apis/im/v1/messages?receive_id_type=chat_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"receive_id\": $vars.FEISHU_REVIEW_CHAT_ID,\n  \"msg_type\": \"interactive\",\n  \"content\": JSON.stringify({\n    config: { wide_screen_mode: true },\n    header: { title: { tag: 'plain_text', content: ($(\"解析分镜脚本\").first().json.sku || 'SKU') + ' video candidate generated #1' }, template: 'turquoise' },\n    elements: [\n      { tag: 'div', text: { tag: 'lark_md', content: '**Task**: ' + $json.task_id + '\n**SKU**: ' + ($(\"解析分镜脚本\").first().json.sku || '') + '\n**Duration**: 12s\n**Scenes**: 4\n**Status**: pending review' } },\n      { tag: 'action', actions: [\n        { tag: 'button', text: { tag: 'plain_text', content: 'View video' }, url: 'https://content-factory.oss-cn-shanghai.aliyuncs.com/videos/'+$now.format('yyyyMM')+'/'+$json.task_id+'/candidate_1.mp4', type: 'primary' }\n      ] }\n    ]\n  })\n}",
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "触发器 /trigger/video": {
      "main": [
        [
          {
            "node": "立即返回 202",
            "type": "main",
            "index": 0
          },
          {
            "node": "读取商品、风格与图池",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取商品、风格与图池": {
      "main": [
        [
          {
            "node": "生成分镜脚本（Claude）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成分镜脚本（Claude）": {
      "main": [
        [
          {
            "node": "解析分镜脚本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析分镜脚本": {
      "main": [
        [
          {
            "node": "分批处理 4 个镜头",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分批处理 4 个镜头": {
      "main": [
        [
          {
            "node": "模拟合并音频并提交 ASR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "生成首帧提示词（LLM Provider）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成首帧提示词（LLM Provider）": {
      "main": [
        [
          {
            "node": "生成首帧（Image Provider）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成首帧（Image Provider）": {
      "main": [
        [
          {
            "node": "提取首帧链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取首帧链接": {
      "main": [
        [
          {
            "node": "生成视频提示词（LLM Provider）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成视频提示词（LLM Provider）": {
      "main": [
        [
          {
            "node": "提交视频任务（Video Provider）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交视频任务（Video Provider）": {
      "main": [
        [
          {
            "node": "等待 20 秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待 20 秒": {
      "main": [
        [
          {
            "node": "轮询视频任务（Video Provider）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轮询视频任务（Video Provider）": {
      "main": [
        [
          {
            "node": "判断视频任务是否完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断视频任务是否完成": {
      "main": [
        [
          {
            "node": "提取视频链接",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "等待 20 秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取视频链接": {
      "main": [
        [
          {
            "node": "下载场景 MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载场景 MP4": {
      "main": [
        [
          {
            "node": "模拟保存场景并提取尾帧",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "模拟保存场景并提取尾帧": {
      "main": [
        [
          {
            "node": "上传尾帧到 OSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传尾帧到 OSS": {
      "main": [
        [
          {
            "node": "回写上一尾帧链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "回写上一尾帧链接": {
      "main": [
        [
          {
            "node": "返回分批节点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "返回分批节点": {
      "main": [
        [
          {
            "node": "分批处理 4 个镜头",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "模拟合并音频并提交 ASR": {
      "main": [
        [
          {
            "node": "提交火山 ASR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交火山 ASR": {
      "main": [
        [
          {
            "node": "等待 8 秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待 8 秒": {
      "main": [
        [
          {
            "node": "轮询 ASR 并生成 SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轮询 ASR 并生成 SRT": {
      "main": [
        [
          {
            "node": "生成 SRT（失败则退回分镜字幕）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成 SRT（失败则退回分镜字幕）": {
      "main": [
        [
          {
            "node": "模拟 FFmpeg 合成并压字幕",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "模拟 FFmpeg 合成并压字幕": {
      "main": [
        [
          {
            "node": "上传 final.mp4 到 OSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传 final.mp4 到 OSS": {
      "main": [
        [
          {
            "node": "上传 thumb.jpg 到 OSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传 thumb.jpg 到 OSS": {
      "main": [
        [
          {
            "node": "写入视频候选记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入视频候选记录": {
      "main": [
        [
          {
            "node": "写入飞书视频审核表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入飞书视频审核表": {
      "main": [
        [
          {
            "node": "通知飞书群",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 1800
  },
  "staticData": null,
  "tags": [
    {
      "name": "content-factory"
    },
    {
      "name": "video"
    },
    {
      "name": "seedance"
    }
  ],
  "pinData": {},
  "versionId": "v1.0.0-yn-bra-001",
  "meta": {
    "instanceId": "content-factory-prod"
  }
}
